<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Users</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Add User</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
    <!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center">View Users</h1>
        <div class="container">
            <!--Add User Button-->
            <div class="my-3">
                <a href="/add"><button type="button" class="btn btn-primary">Add User</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.dob}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.pNo}}</td>
                    <td>{{user.address}}</td>
                    <td>
                        <div class="d-inline mx-2">
                            <button class="btn btn-warning" (click)="updateUser(user.id)" type="button">Update</button>
                        </div>
                        <div class="d-inline">
                          <button class="btn btn-danger" (click)="deleteUser(user.id)" type="button">Delete</button>
                        </div>
                    </td>
                  </tr>
                 
                </tbody>
              </table>

        </div>
    </div>
    
</body>
</html>

<router-outlet></router-outlet>
